* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.nav-bar {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.nav-links li{
    color: #333;
    padding: 10px 15px;
    list-style-type: none;
}
.nav-links li a {
    text-decoration: none;
    color: inherit;
}

.contact-btn {
    padding: 8px 20px;
    background-color: #f79a04;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.hero h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}
.hero p {
    font-size: 18px;
    color: #1c1b1b;
}
.hero span {
    color: #f25a08;
    font-size: 38px;
}

.hero-image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-left: 10px;
}

.hire-me-btn {
    padding: 10px 25px;
    background-color: #ef9d03;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
}

.experience-btn {
    padding: 10px 25px;
    background-color: #c801c8;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 25px;
}

.hero-left {
    max-width: 75%;
    text-align: justify;
    line-height: 1.2em;
}