* {
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.nav-bar {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.nav-links li{
    color: #333;
    padding: 10px 15px;
    list-style-type: none;
}
.nav-links li a {
    text-decoration: none;
    color: inherit;
}

.contact-btn {
    padding: 8px 20px;
    background-color: #f79a04;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
